Med's review comments on the description and IETF format 

Med's review comments on the description and IETF format during WG adoption

I already reviewed a previous version of this document. Here are some quick additional comments:


  *   NIT

OLD:

The location model can  extend the base network inventory

   [I-D.ietf-ivy-network-inventory-yang] to enrich NEs with location

   information.

NEW:

The location model augments

   the base network inventory

   [I-D.ietf-ivy-network-inventory-yang] to enrich NEs with location

   information.


  *   NIT

OLD:

   The Network Inventory location model is classified as a network

   configuration model (Section 4 of [RFC8309]).

NEW:

   The Network Inventory location model is classified as a network

   model (Section 3.5.1 of [I-D.ietf-netmod-rfc8407bis]).


  *   Question:

CURRENT:

   The Network Inventory location YANG model conforms to the Network

   Management Datastore Architecture (NMDA) [RFC8342].

Per the IETF guidelines, new models should comply with 8342. What is actually important to highlight is the following:

"Designers SHOULD describe and justify any NMDA exceptions in detail, such as the use of separate subtrees and/or separate leafs."

I guess this can be revisited once the module is stable.


  *   Clarification (many occurrences): not sure how these two are related? Whether they are redundant? Etc.

CURRENT:


        |  +--rw name?               string

        |  +--rw alias?              string


  *   Security section: Please follow the updated template at https://datatracker.ietf.org/doc/html/draft-ietf-netmod-rfc8407bis-16#name-security-considerations-sect.


  *   IANA section: Please update the following to refer to 6020:


OLD:
   This document registers a YANG module in the "YANG Module Names"
   registry[RFC7950] .

NEW:

   This document registers a YANG module in the "YANG Module Names"

   Registry [RFC6020] .
Cheers,
Med